* {
    color: #ffffff;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
}

ul{
    margin: 0;
    padding: 0;
}

ul > * {
    margin: 0;
    padding: 0;
}

body {
    background-color: #232323;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header {
    height: 5rem;
    display: flex;
    align-items: center;
    margin: 0;
}

.header-items {
    height: 50%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav {
    height: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    margin-right: 2rem;
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    padding: 1rem;
}

.logo {
    height: 100%;
}

.logo img {
    padding: 10%;
    height: 100%;
    width: auto;
    margin-left: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0 15%;
    padding-bottom: 5%;
    height: calc(100vh - 9rem);
}

.name { 
    display: block;    
    font-size: 2rem;
    height: 4rem;
    margin-bottom: 1rem;
}

.first-name {
    display: block;
    height: 50%;
}

.last-name {
    display: block;
    height: 50%;
}

.cursor {
    display: inline-block;
    animation: blink 2s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.terminal {
    border-radius: 10px; 
    height: calc(100% - 3rem);
    width: 100%;
}

.terminal-header {
    background-color: #424242; 
    height: 2rem;
    display: flex;
    justify-content: space-between;
}

.tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    background-color: #000; 
    margin-left: 1%;
    margin-top: .2rem;
    padding-left: 2%;
    padding-right: 2%;
    width: 30%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
}

.tab img {
    height: .75rem;
}

.icons {
    width: 25%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding-right: 2%;
}

.icons img {
    height: 50%;
    width: auto;
}

.terminal-content {
    background-color: #000;
    flex: 1;
    height: calc(100% - 2rem);
    overflow-y: auto;
}

.terminal-text {
    padding: 2%;
}

.terminal-content p {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: .25rem;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: .25rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-track {
    background: transparent;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto; 
    width: 100%; 
    height: 4rem;
    align-items: center;
}

footer .copyright {
    padding-left: 11rem;
    display: flex;
    justify-content: center;
    flex: 1;    
}

footer .date {
    font-size: 95%;
    margin-right: 1rem;
    width: 10rem;
    text-align: right; 
}

hr {
    border: none;                
    border-top: 3px solid #333;   
    width: 100%;     
    margin-top: 2%; 
    padding: 0;             
}

mark {
    background-color: #727272;
}

fieldset {
    border-style: none;
    margin: 0;
    padding: 0;
}

input, textarea, select {
    display: block;
    background-color: #000;
    margin: 0;
    padding: 0;
}

input:-webkit-autofill, textarea:-webkit-autofill {
    background-color: #000; 
    color: #fff ; 
}

.radio-buttons {
    display: flex;
    margin: .25rem;
    margin-left: 0;
    padding-left: 0;
    justify-content: flex-start;
}

label {
    display: block;        
    margin: 0;      
}

input[type="text"],
input[type="email"],
input[type="phone"],
textarea,
select {
    width: 100%;             
    padding: 0;
    margin: 0;
    border-style: none;
    font-size: 1rem;
}

.radio-buttons label {
    margin-right: 1rem;
}

input[type="radio"] {
    appearance: none;   
    width: 1rem;               
    height: 1rem;            
    border: 2px solid #333;    
    border-radius: 0;          
    position: relative;      
    cursor: pointer; 
    margin-left: 0;    
    margin-right: 1rem;
}

input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    margin: .25rem;
    width: 0.25rem;
    height: 0.25rem;
    background-color: #333;
}

select {
    text-align: left;
    margin: .5rem 0; 
    appearance: none; 
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    padding: 0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

input[type="submit"]:hover {
    background-color: #555;
}

#asciiquarium-command {
    display: none;
}

video {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}